
/* ========== GLOBAL ========== */

.container {
    padding-left: 15px;
    padding-right: 15px;
}

input {
    font-family: inherit;
}

button {
    cursor: pointer;
}

p {
    margin: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
}


h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    background-color: #FFFFFF;
    color: #2E2F42;
}

.decoration-none {
    list-style-type: none;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.flex {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.fixed-line-break {
    white-space: nowrap;
    /* Заборонити автоматичне перенесення тексту */
}

.allow-line-break {
    white-space: normal;
    /* Дозволити перенесення тексту */
}

/* ========== GLOBAL ==========/ */

/* ========== PAGE HEADER MBILE STYLES ========== */
  
.page-ul {
    display: none;
}
 .page-ul-adress {
    display: none;
 }

 
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
0px 2px 1px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16),
0px 1px 6px rgba(46, 47, 66, 0.08);
 
}


.logo-header {
    padding-top: 17px;
    padding-bottom: 17px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.54px;
    line-height: 1.17;
    color: #4d5ae5;
    text-transform: uppercase;
}


.logo-studio {
    color: #2e2f42;
}

.page-nav {
    display: flex;
    align-items: center;
}

.mobile-open-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-optn-btn-icon{
    color: #2F2F37;
}
                

/* ========== PAGE HEADER MBILE STYLES ==========/ */

/* ========== SECTION 1 MOBILE STYLES ========== */

.hero-section {
    background-color: #2E2F42;
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/hero-background-mobile.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}



.main-title {
    max-width: 288px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}


.order-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #4D5AE5;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background: #404BBF;
}


/* ========== SECTION 1 MOBILE STYLES ==========/ */

/* ========== SECTION 2 MOBILE STYLES ========== */
.content-section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.content-list{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.content-title {
    margin-bottom: 8px;
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
}

.content-text{
    color:  #434455;
        font-weight: 500;
        align-self: stretch;
}

.background-icon{
    display: none;
}


/* ========== SECTION 2 MOBILE STYLES ==========/ */

/* ========== SECTION 3 MOBILE STYLES ========== */

.our-team-title {
    margin-bottom: 72px;
}

.our-team-section {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.our-team-list {
    list-style-type: none;
    flex-direction: column;
    display: flex;
    gap: 72px;
    align-items: center;
    justify-content: center;
}


.our-team-items {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow:
        0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    color: #F4F4FD;
    background-color: #FFFFFF;
    margin-bottom: 72px;
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 8px;
    text-align: center;
}

.text-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.our-team-name {
    color: #2E2F42;
    margin-bottom: 8px
}

.our-team-text {
    font-size: 16px;
    color: #434455;
    padding-bottom: 8px;
}

.our-team-ul-icon {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
}


.url-our-team:hover,
.url-our-team:focus {
    background-color: #404bbf;
}

.url-our-team {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icon {
    fill: #f4f4fd;
}

/* ========== SECTION 3 MOBILE STYLES ==========/ */


/* ==================== MOBILE MEDIA STYLES ==================== */

@media screen and (min-width: 480px) {
    .container {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* ==================== MBILE MEDIA STYLES ====================/ */

/* ==================== TABLET MEDIA STYLES ==================== */


@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    

    .fixed-line-break {
        white-space: normal;
    }


/* ========== HEADER TABLET STYLES ========== */

    .logo-header {
        margin-right: 120px;
    }

    .logo-studio {
        color: #2e2f42;
   }
        
    
    .header-address {
        align-self: center;
    }


    .page-nav {
        display: flex;
        align-items: center;
    }

    .page-ul-adress {
        display: flex;
        gap: 12px;
        flex-direction: column;

    }

    .adress-li-text{
        color:#434455;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
        
    }
        
    .page-ul {
       display: flex;
        gap: 40px;
    }

    .header-li{
        display: block;
        padding-bottom: 24px;
        padding-top: 24px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        font-size: 16px;
        color: #2e2f42;
        font-weight: 500;
    }
    

    .header-li:hover,
    .header-li:focus {
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .link-header {
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #404bbf;
    }
        
    .link-header::after,
    .link-header::after {
        content: "";
        left: 0;
        bottom: -1px;
        position: absolute;
        width: 48px;
        height: 4px;
        border-radius: 2px;
        background: #404bbf;
    }
                
    .link-address {
        font-weight: 400;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
                
    .link-address:hover,
    .link-address:focus {
        color: #404bbf;
    }
        
   .mobile-open-btn {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }   
/* ========== HEADER TABLET STYLES ==========/ */

/* ========== SECTION 1 TABLET STYLES ==========/ */

    .hero-section {
        background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
       url(../images/hero-background-tablet.png);
    }

     
    .main-title {
        max-width: 496px;
        font-size: 56px;
        margin-bottom: 36px;
        }

    .order-button {
        margin-bottom: 40px;
    }
/* ========== SECTION 1 TABLET STYLES ==========/ */

/* ========== SECTION 2 TABLET STYLES ==========/ */

                .content-section {
                    padding-top: 96px;
                    padding-bottom: 96px;
                }
        
                .content-list {
                    flex-wrap: wrap;
                    column-gap: 24px;
                    row-gap: 72px;
                    flex-direction: row;
                }

                .content-items {
                    width: calc((100% - 24px) / 2);
                  }

                  .content-title{
                    text-align: start;
                  }
        
                .content-text {
                    font-weight: 400;
                }
        

/* ========== SECTION 2 TABLET STYLES ==========/ */

/* ========== SECTION 3 TABLET STYLES ========== */ 


    .our-team-list{
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    flex-direction: row;
    align-items: center;
    }

   .our-team-items{
    width: 264px;
   }
   

/* ========== SECTION 2 TABLET STYLES ==========/ */
}

/* ==================== TABLET MEDIA STYLES ====================/ */


/* ==================== PC MEDIA STYLES ==================== */
/* ========== PC MEDIA STYLES HEADER ========== */

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
    }

    .logo-header {
        margin-right: 76px;
    }

    .page-nav {
        display: flex;
        align-items: center
    }

          .page-ul {
              margin-right: 0px;
          }
    

    .page-ul-adress {
        gap: 40px;
        flex-direction: row;
    }

     .adress-li-text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
    }

/* ========== PC MEDIA STYLES HEADER ==========/ */
/* ========== PC MEDIA STYLES SECTION 1 ========== */

    .hero-section {
        background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
       url(../images/hero-background.jpg);
    }
/* ========== PC MEDIA STYLES SECTION 1 ==========/ */

/* ========== PC MEDIA STYLES SECTION 2 ========== */
        .content-section {
            padding-top: 120px;
            padding-bottom: 120px;
        }
    
        .background-icon {
            width: 264px;
            height: 112px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1px solid #8E8F99;
            background: #F4F4FD;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 8px;
        }
    
        .content-list {
            gap: 24px;
            flex-direction: row;
        }

        .content-text {
            font-weight: 400;
        }
    
        .content-items {
            width: calc((100% - 72px) / 4);
        }
/* ========== PC MEDIA STYLES SECTION 2 ==========/ */

/* ========== PC MEDIA STYLES SECTION 3 ==========/ */

 .our-team-section {
     padding-top: 120px;
     padding-bottom: 120px;
 }

 /* ========== PC MEDIA STYLES SECTION 3 ==========/ */
}

/* ==================== PC MEDIA STYLES ====================/ */